openapi: 3.0.3
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation IntervalBlock API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: IntervalBlock
  description: Time-series interval-level energy usage data captured at a meter.
paths:
  /Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}/IntervalBlock:
    get:
      operationId: listIntervalBlocks
      summary: List IntervalBlocks for a MeterReading
      description: 'Returns an Atom feed of IntervalBlock entries containing the time-series interval readings for the MeterReading.

        '
      tags:
      - IntervalBlock
      security:
      - accessToken: []
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/UsagePointId'
      - $ref: '#/components/parameters/MeterReadingId'
      - $ref: '#/components/parameters/PublishedMin'
      - $ref: '#/components/parameters/PublishedMax'
      responses:
        '200':
          description: Atom feed of IntervalBlock entries.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/IntervalBlockFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Subscription/{subscriptionId}/UsagePoint/{usagePointId}/MeterReading/{meterReadingId}/IntervalBlock/{intervalBlockId}:
    get:
      operationId: getIntervalBlock
      summary: Retrieve a single IntervalBlock
      description: Returns the IntervalBlock entry identified by intervalBlockId.
      tags:
      - IntervalBlock
      security:
      - accessToken: []
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/UsagePointId'
      - $ref: '#/components/parameters/MeterReadingId'
      - $ref: '#/components/parameters/IntervalBlockId'
      responses:
        '200':
          description: Atom entry containing the IntervalBlock resource.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/IntervalBlock'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    IntervalBlock:
      allOf:
      - $ref: '#/components/schemas/AtomEntry'
      - type: object
        description: Time-series block of interval readings for a meter.
        properties:
          interval:
            type: object
            properties:
              duration:
                type: integer
                description: Total span of the block in seconds.
              start:
                type: integer
                description: Epoch seconds at the start of the block.
          IntervalReading:
            type: array
            items:
              type: object
              properties:
                cost:
                  type: integer
                  description: Cost in 1/100
                  000 of the local currency.: null
                timePeriod:
                  type: object
                  properties:
                    duration:
                      type: integer
                      description: Reading interval duration in seconds.
                    start:
                      type: integer
                      description: Epoch seconds at the start of the interval.
                value:
                  type: integer
                  description: Reading value scaled by the ReadingType powerOfTenMultiplier.
                ReadingQuality:
                  type: array
                  items:
                    type: object
                    properties:
                      quality:
                        type: integer
    AtomEntry:
      type: object
      description: Atom entry envelope used to wrap ESPI resource payloads.
      properties:
        id:
          type: string
          description: Stable URI for the entry.
        title:
          type: string
          description: Human-readable title of the entry.
        published:
          type: string
          format: date-time
          description: Time the entry was first published.
        updated:
          type: string
          format: date-time
          description: Time the entry was last updated.
        link:
          type: array
          description: Atom link relations (self, up, related).
          items:
            type: object
            properties:
              rel:
                type: string
                example: self
              href:
                type: string
                example: UsagePoint/1
        content:
          type: object
          description: ESPI XML payload content.
    AtomFeed:
      type: object
      description: Atom feed envelope used to wrap collections of ESPI resource entries.
      properties:
        id:
          type: string
        title:
          type: string
        updated:
          type: string
          format: date-time
        link:
          type: array
          items:
            type: object
            properties:
              rel:
                type: string
              href:
                type: string
        entry:
          type: array
          items:
            $ref: '#/components/schemas/AtomEntry'
    IntervalBlockFeed:
      allOf:
      - $ref: '#/components/schemas/AtomFeed'
  responses:
    Forbidden:
      description: The token type does not grant access to the requested endpoint or resource.
    Unauthorized:
      description: Authentication failed or the access token is invalid or expired.
    NotFound:
      description: The requested resource was not found or is not authorized for this token.
  parameters:
    UsagePointId:
      name: usagePointId
      in: path
      required: true
      description: Identifier of a UsagePoint within a Subscription.
      schema:
        type: string
        example: '1'
    PublishedMin:
      name: published-min
      in: query
      required: false
      description: Lower bound (inclusive) for the Atom entry published timestamp, in epoch seconds or ISO 8601.
      schema:
        type: string
        example: '2026-01-01T00:00:00Z'
    MeterReadingId:
      name: meterReadingId
      in: path
      required: true
      description: Identifier of a MeterReading within a UsagePoint.
      schema:
        type: string
        example: '1'
    PublishedMax:
      name: published-max
      in: query
      required: false
      description: Upper bound (inclusive) for the Atom entry published timestamp, in epoch seconds or ISO 8601.
      schema:
        type: string
        example: '2026-04-30T23:59:59Z'
    IntervalBlockId:
      name: intervalBlockId
      in: path
      required: true
      description: Identifier of an IntervalBlock within a MeterReading.
      schema:
        type: string
        example: '1'
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: Identifier of a Subscription created from an Authorization.
      schema:
        type: string
        example: sub-5678
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
