openapi: 3.0.3
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation ServiceStatus API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: ServiceStatus
  description: Operational status of the Green Button Connect My Data service.
paths:
  /ReadServiceStatus:
    get:
      operationId: readServiceStatus
      summary: Get current service status
      description: Returns the operational status of the Green Button Connect My Data service.
      tags:
      - ServiceStatus
      security:
      - clientAccessToken: []
      responses:
        '200':
          description: Service status payload.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/ServiceStatus'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    ServiceUnavailable:
      description: The Data Custodian is temporarily unavailable, often for scheduled maintenance.
  schemas:
    ServiceStatus:
      type: object
      description: Operational status of the Data Custodian service.
      properties:
        currentStatus:
          type: integer
          description: 0=offline, 1=online, 2=intermittent.
          example: 1
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
