openapi: 3.2.0
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation Device Information API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: DeviceInformation
  description: Manufacturer, hardware, and firmware metadata for a device.
paths:
  /edev/{edevId}/di:
    get:
      operationId: getDeviceInformation
      summary: Get DeviceInformation
      description: Returns manufacturer, hardware, and firmware metadata for the EndDevice.
      tags:
      - DeviceInformation
      security:
      - mtls: []
      parameters:
      - $ref: '#/components/parameters/EdevId'
      responses:
        '200':
          description: DeviceInformation resource.
          content:
            application/sep+xml:
              schema:
                $ref: '#/components/schemas/DeviceInformation'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DeviceInformation:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - type: object
        properties:
          mfID:
            type: integer
            description: Manufacturer ID.
          mfModel:
            type: string
          mfSerNum:
            type: string
          primaryPower:
            type: integer
            description: Primary power source enum.
          secondaryPower:
            type: integer
          swActTime:
            type: integer
          swVer:
            type: string
          functionsImplemented:
            type: string
            description: Hex-encoded FunctionsImplementedType.
    Resource:
      type: object
      description: Base IEEE 2030.5 Resource type that all resources inherit from.
      properties:
        href:
          type: string
          description: Stable URI of the resource.
  parameters:
    EdevId:
      name: edevId
      in: path
      required: true
      description: Numeric identifier of an EndDevice resource.
      schema:
        type: integer
        minimum: 0
        example: 0
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
