openapi: 3.2.0
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation Demand Response API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: DemandResponse
  description: Demand Response programs and load control events.
paths:
  /drp:
    get:
      operationId: listDemandResponsePrograms
      summary: List Demand Response programs
      description: Returns the DemandResponseProgramList for load-control coordination with the utility.
      tags:
      - DemandResponse
      security:
      - mtls: []
      parameters:
      - $ref: '#/components/parameters/StartIndex'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: DemandResponseProgramList resource.
          content:
            application/sep+xml:
              schema:
                $ref: '#/components/schemas/DemandResponseProgramList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /drp/{drpId}:
    get:
      operationId: getDemandResponseProgram
      summary: Get a Demand Response program
      tags:
      - DemandResponse
      security:
      - mtls: []
      parameters:
      - $ref: '#/components/parameters/DrpId'
      responses:
        '200':
          description: DemandResponseProgram resource.
          content:
            application/sep+xml:
              schema:
                $ref: '#/components/schemas/DemandResponseProgram'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /drp/{drpId}/edrc:
    get:
      operationId: listEndDeviceControls
      summary: List EndDeviceControls for a DR program
      description: Returns EndDeviceControl events scheduling load-control for participants of the DR program.
      tags:
      - DemandResponse
      security:
      - mtls: []
      parameters:
      - $ref: '#/components/parameters/DrpId'
      responses:
        '200':
          description: EndDeviceControlList resource.
          content:
            application/sep+xml:
              schema:
                $ref: '#/components/schemas/EndDeviceControlList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found.
  schemas:
    DemandResponseProgramList:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - type: object
        properties:
          all:
            type: integer
          results:
            type: integer
          DemandResponseProgram:
            type: array
            items:
              $ref: '#/components/schemas/DemandResponseProgram'
    Resource:
      type: object
      description: Base IEEE 2030.5 Resource type that all resources inherit from.
      properties:
        href:
          type: string
          description: Stable URI of the resource.
    Link:
      type: object
      description: Link to another resource in the IEEE 2030.5 graph.
      properties:
        href:
          type: string
    DemandResponseProgram:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - type: object
        properties:
          mRID:
            type: string
          description:
            type: string
          version:
            type: integer
          primacy:
            type: integer
          availabilityUpdatePercentChangeThreshold:
            type: integer
          availabilityUpdatePowerChangeThreshold:
            type: integer
          ActiveEndDeviceControlListLink:
            $ref: '#/components/schemas/Link'
          EndDeviceControlListLink:
            $ref: '#/components/schemas/Link'
    EndDeviceControlList:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - type: object
        properties:
          all:
            type: integer
          results:
            type: integer
          EndDeviceControl:
            type: array
            items:
              type: object
              properties:
                mRID:
                  type: string
                description:
                  type: string
                creationTime:
                  type: integer
                EventStatus:
                  type: object
                  properties:
                    currentStatus:
                      type: integer
                    dateTime:
                      type: integer
                interval:
                  type: object
                  properties:
                    duration:
                      type: integer
                    start:
                      type: integer
                drProgramMandatory:
                  type: boolean
                loadShiftForward:
                  type: boolean
                overrideDuration:
                  type: integer
  parameters:
    DrpId:
      name: drpId
      in: path
      required: true
      description: Identifier of a DemandResponseProgram resource.
      schema:
        type: integer
        minimum: 0
        example: 0
    Limit:
      name: l
      in: query
      required: false
      description: Maximum number of list items to return.
      schema:
        type: integer
        minimum: 1
        maximum: 255
        example: 25
    StartIndex:
      name: s
      in: query
      required: false
      description: 0-based start index for paginated lists.
      schema:
        type: integer
        minimum: 0
        example: 0
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
