openapi: 3.0.3
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation SelfDevice API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: SelfDevice
  description: Convenience resource referring to the device that hosts the API.
paths:
  /sdev:
    get:
      operationId: getSelfDevice
      summary: Get the SelfDevice resource
      description: 'Returns SelfDevice, a convenience EndDevice subtype representing the device that hosts this API server.

        '
      tags:
      - SelfDevice
      security:
      - mtls: []
      responses:
        '200':
          description: SelfDevice resource.
          content:
            application/sep+xml:
              schema:
                $ref: '#/components/schemas/SelfDevice'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Link:
      type: object
      description: Link to another resource in the IEEE 2030.5 graph.
      properties:
        href:
          type: string
    Resource:
      type: object
      description: Base IEEE 2030.5 Resource type that all resources inherit from.
      properties:
        href:
          type: string
          description: Stable URI of the resource.
    EndDevice:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - type: object
        properties:
          sFDI:
            type: integer
            format: int64
            description: Short-form device identifier.
          lFDI:
            type: string
            description: Long-form device identifier (32 hex characters).
          deviceCategory:
            type: string
            description: Hex-encoded DeviceCategoryType.
          postRate:
            type: integer
          enabled:
            type: boolean
          changedTime:
            type: integer
          RegistrationLink:
            $ref: '#/components/schemas/Link'
          DeviceInformationLink:
            $ref: '#/components/schemas/Link'
          DeviceStatusLink:
            $ref: '#/components/schemas/Link'
          PowerStatusLink:
            $ref: '#/components/schemas/Link'
          LogEventListLink:
            $ref: '#/components/schemas/Link'
          ConfigurationLink:
            $ref: '#/components/schemas/Link'
          FunctionSetAssignmentsListLink:
            $ref: '#/components/schemas/Link'
    SelfDevice:
      allOf:
      - $ref: '#/components/schemas/EndDevice'
      - type: object
        description: Convenience EndDevice subtype representing the device that hosts the API server.
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
