openapi: 3.0.3
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation Log API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: Log
  description: Log events emitted by the device.
paths:
  /edev/{edevId}/log:
    get:
      operationId: listLogEvents
      summary: List LogEvents
      description: Returns the LogEventList for an EndDevice.
      tags:
      - Log
      security:
      - mtls: []
      parameters:
      - $ref: '#/components/parameters/EdevId'
      - $ref: '#/components/parameters/StartIndex'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: LogEventList resource.
          content:
            application/sep+xml:
              schema:
                $ref: '#/components/schemas/LogEventList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Limit:
      name: l
      in: query
      required: false
      description: Maximum number of list items to return.
      schema:
        type: integer
        minimum: 1
        maximum: 255
        example: 25
    EdevId:
      name: edevId
      in: path
      required: true
      description: Numeric identifier of an EndDevice resource.
      schema:
        type: integer
        minimum: 0
        example: 0
    StartIndex:
      name: s
      in: query
      required: false
      description: 0-based start index for paginated lists.
      schema:
        type: integer
        minimum: 0
        example: 0
  schemas:
    Resource:
      type: object
      description: Base IEEE 2030.5 Resource type that all resources inherit from.
      properties:
        href:
          type: string
          description: Stable URI of the resource.
    LogEventList:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - type: object
        properties:
          all:
            type: integer
          results:
            type: integer
          LogEvent:
            type: array
            items:
              type: object
              properties:
                createdDateTime:
                  type: integer
                details:
                  type: string
                extendedData:
                  type: integer
                functionSet:
                  type: integer
                logEventCode:
                  type: integer
                logEventID:
                  type: integer
                logEventPEN:
                  type: integer
                profileID:
                  type: integer
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
