openapi: 3.2.0
info:
  title: Xcel Energy Green Button Connect My Data Application Information API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: ApplicationInformation
  description: Third-party application registration metadata used by the Data Custodian.
paths:
  /ApplicationInformation/{applicationInformationId}:
    get:
      operationId: getApplicationInformation
      summary: Retrieve application registration details
      description: 'Returns the ApplicationInformation entry registered for a third-party application, including OAuth client metadata and scope strings.

        '
      tags:
      - ApplicationInformation
      security:
      - registrationAccessToken: []
      parameters:
      - $ref: '#/components/parameters/ApplicationInformationId'
      responses:
        '200':
          description: Atom entry containing the ApplicationInformation resource.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/ApplicationInformation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found or is not authorized for this token.
    Forbidden:
      description: The token type does not grant access to the requested endpoint or resource.
    Unauthorized:
      description: Authentication failed or the access token is invalid or expired.
  parameters:
    ApplicationInformationId:
      name: applicationInformationId
      in: path
      required: true
      description: Identifier of an ApplicationInformation entry registered with the Data Custodian.
      schema:
        type: string
        example: '1'
  schemas:
    ApplicationInformation:
      allOf:
      - $ref: '#/components/schemas/AtomEntry'
      - type: object
        description: Registration metadata for a third-party application.
        properties:
          dataCustodianApplicationStatus:
            type: integer
            example: 1
            description: 1 = active, 2 = on hold, 3 = revoked.
          thirdPartyApplicationDescription:
            type: string
          thirdPartyApplicationStatus:
            type: integer
            example: 1
          thirdPartyApplicationType:
            type: integer
            example: 3
          thirdPartyApplicationUse:
            type: integer
            example: 4
          thirdPartyPhone:
            type: string
          authorizationServerAuthorizationEndpoint:
            type: string
            format: uri
          authorizationServerRegistrationEndpoint:
            type: string
            format: uri
          authorizationServerTokenEndpoint:
            type: string
            format: uri
          client_id:
            type: string
          client_secret:
            type: string
          client_id_issued_at:
            type: integer
          client_secret_expires_at:
            type: integer
          redirect_uri:
            type: string
            format: uri
          scope:
            type: array
            items:
              type: string
              example: FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000
          tokenEndpointAuthMethod:
            type: string
            example: client_secret_basic
    AtomEntry:
      type: object
      description: Atom entry envelope used to wrap ESPI resource payloads.
      properties:
        id:
          type: string
          description: Stable URI for the entry.
        title:
          type: string
          description: Human-readable title of the entry.
        published:
          type: string
          format: date-time
          description: Time the entry was first published.
        updated:
          type: string
          format: date-time
          description: Time the entry was last updated.
        link:
          type: array
          description: Atom link relations (self, up, related).
          items:
            type: object
            properties:
              rel:
                type: string
                example: self
              href:
                type: string
                example: UsagePoint/1
        content:
          type: object
          description: ESPI XML payload content.
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
