openapi: 3.0.3
info:
  title: Xcel Energy Green Button Connect My Data ApplicationInformation RetailCustomer API
  summary: OAuth 2.0 authorized customer energy usage data based on the NAESB ESPI standard.
  description: 'Xcel Energy Green Button Connect My Data API based on the ESPI (Energy Services Provider Interface) standard developed by NAESB. Enables authorized third-party applications to access customer electricity and natural gas usage data captured by Xcel Energy smart meters. Resources are exposed as Atom feeds and entries containing UsagePoint, MeterReading, IntervalBlock, ReadingType, ElectricPowerUsageSummary, ElectricPowerQualitySummary, LocalTimeParameters, and customer information. Customer authorization is granted via OAuth 2.0 and follows the Green Button Connect specification used by utilities across North America.

    '
  version: 1.1.0
  contact:
    name: Xcel Energy Developer Portal
    url: https://developer-apim.aws.xcelenergy.com/
  license:
    name: Proprietary
    url: https://www.xcelenergy.com/privacy_policy
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
  x-standards:
  - NAESB ESPI 1.1
  - Green Button Connect My Data
servers:
- url: https://api.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Data Custodian (Production)
- url: https://developer-apim.aws.xcelenergy.com/DataCustodian/espi/1_1/resource
  description: Xcel Energy Developer Sandbox
tags:
- name: RetailCustomer
  description: Retail customer, account, agreement, service location, and meter information.
paths:
  /RetailCustomer/{authorizationId}/Customer:
    get:
      operationId: listCustomers
      summary: List retail customers for an authorization
      description: Returns an Atom feed of Customer entries authorized to share customer information.
      tags:
      - RetailCustomer
      security:
      - accessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationId'
      responses:
        '200':
          description: Atom feed of Customer entries.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/CustomerFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /RetailCustomer/{authorizationId}/Customer/{customerId}/CustomerAccount:
    get:
      operationId: listCustomerAccounts
      summary: List CustomerAccounts for a retail customer
      description: Returns an Atom feed of CustomerAccount entries for the customer.
      tags:
      - RetailCustomer
      security:
      - accessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationId'
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Atom feed of CustomerAccount entries.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/CustomerAccountFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /RetailCustomer/{authorizationId}/Customer/{customerId}/CustomerAccount/{customerAccountId}/CustomerAgreement:
    get:
      operationId: listCustomerAgreements
      summary: List CustomerAgreements for a CustomerAccount
      description: Returns an Atom feed of CustomerAgreement entries for the account.
      tags:
      - RetailCustomer
      security:
      - accessToken: []
      parameters:
      - $ref: '#/components/parameters/AuthorizationId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerAccountId'
      responses:
        '200':
          description: Atom feed of CustomerAgreement entries.
          content:
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/CustomerAgreementFeed'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CustomerAgreementFeed:
      allOf:
      - $ref: '#/components/schemas/AtomFeed'
    AtomEntry:
      type: object
      description: Atom entry envelope used to wrap ESPI resource payloads.
      properties:
        id:
          type: string
          description: Stable URI for the entry.
        title:
          type: string
          description: Human-readable title of the entry.
        published:
          type: string
          format: date-time
          description: Time the entry was first published.
        updated:
          type: string
          format: date-time
          description: Time the entry was last updated.
        link:
          type: array
          description: Atom link relations (self, up, related).
          items:
            type: object
            properties:
              rel:
                type: string
                example: self
              href:
                type: string
                example: UsagePoint/1
        content:
          type: object
          description: ESPI XML payload content.
    AtomFeed:
      type: object
      description: Atom feed envelope used to wrap collections of ESPI resource entries.
      properties:
        id:
          type: string
        title:
          type: string
        updated:
          type: string
          format: date-time
        link:
          type: array
          items:
            type: object
            properties:
              rel:
                type: string
              href:
                type: string
        entry:
          type: array
          items:
            $ref: '#/components/schemas/AtomEntry'
    CustomerAccountFeed:
      allOf:
      - $ref: '#/components/schemas/AtomFeed'
    CustomerFeed:
      allOf:
      - $ref: '#/components/schemas/AtomFeed'
  responses:
    Unauthorized:
      description: Authentication failed or the access token is invalid or expired.
  parameters:
    CustomerAccountId:
      name: customerAccountId
      in: path
      required: true
      description: Identifier of a CustomerAccount resource.
      schema:
        type: string
        example: '1'
    AuthorizationId:
      name: authorizationId
      in: path
      required: true
      description: Identifier of an Authorization granted by a retail customer.
      schema:
        type: string
        example: auth-1234
    CustomerId:
      name: customerId
      in: path
      required: true
      description: Identifier of a retail Customer resource.
      schema:
        type: string
        example: '1'
  securitySchemes:
    accessToken:
      type: oauth2
      description: Customer-scoped access token issued via the OAuth 2.0 authorization-code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://api.xcelenergy.com/DataCustodian/oauth/authorize
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          refreshUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            FB=4_5_15;IntervalDuration=900;BlockDuration=monthly;HistoryLength=34128000: Standard ESPI scope string for 15-minute electric usage data with 13 months of history.
    clientAccessToken:
      type: oauth2
      description: Application-scoped client access token used for management endpoints (Authorization list, Bulk, ServiceStatus).
      flows:
        clientCredentials:
          tokenUrl: https://api.xcelenergy.com/DataCustodian/oauth/token
          scopes:
            DataCustodian_Admin_Access: Administrative scope used for application-level operations.
    registrationAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Registration Access Token
      description: Token issued at application registration; used to read or update ApplicationInformation.
